<div class="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand">PIAM</p> 
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/">Home</a></li>
                <li><a data-ng-click="changeView('/services')">Services</a></li>
                <li><a data-ng-click="changeView('/ourTeam')">Our Team</a></li>
            </ul>
            <div ng-controller="profileController">
               <ul class="nav navbar-nav navbar-right">
                    <li><a data-ng-click="changeView('/signUp')"><span class="glyphicon glyphicon-user" ng-model="name"> Welcome {{name}}</span></a></li>
                    <li><a data-ng-click="changeView('/login')"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
                </ul>
             </div>
        </div>
    </nav>
</div>